@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&family=Poiret+One&family=Roboto+Slab&display=swap");

/* Reset CSS */
html {
  box-sizing: border-box;
  font-size: 16px;
  background: var(--Very-Light_blue);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: Plus Jakarta Sans;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* mobile stage*/
.container {
  padding-top: 16px;
  max-width: 375px;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
}
.navbar__title {
  font-size: 28px;
  font-weight: 800;
  color: #13183F;
}
.navbar__botton--primpary {
  background: #13183F;
  color: #FFF;
  padding: 10px 24px;
  border-radius: 28px;
  font-size: 16px;
  font-weight: 700;
  border: none;
}
.banner__title {
  text-align: left;
  margin-top: 38px;
  font-size: 40px;
  font-weight: 800;
  color: #13183F
}
.banner__paragraph {
  margin-top: 26px;
  font-size: 16px;
  font-weight: 500;
  color: #83869A;
}
.btn__paragraph {
  background: var(--Gradient-1, linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));
  color: #FFF;
  padding: 15px 37px;
  border-radius: 31.5px;
  border: none;
  margin-top: 24px;
}
.image__mobile {
  margin-top: 46px;
}
.article__grid {
  background: linear-gradient(180deg, #FFF 0%, #F0F1FF 100%);
  width: 343px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
  padding-bottom: 80px;
}
.article__primary--cell {
  /* width: 343px; */
  
  height: 120px;
  color: #FFF;
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  padding: 24px 29px;
  border-radius: 10px;
  background: var(--Gradient-1, linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));
}
.article__secondary--cell {
  background: #fff;
  width: 343px;
  height: 259px;
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
  position: relative;
  border-radius: 10px;
}
.article__icon {
  position: absolute;
  top: -24px;
  left: 28px;
}
.article__content {
  margin: 56px 28px 0px;
}
.article__title {
  color: #13183F;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 16px;
}
.article__paragraph {
  color: #83869A;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 24px;
}
.article__link {
  color: #F74780;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
}
footer {
  background-color: #13183F;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
}
.footer__text {
  color: #fff;
  align-items: center;
  font-size: 28px;
  font-weight: 800;
  line-height: normal;

}
.footer__btn {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  border-radius: 28px;
  background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
  padding: 10px 24px;
  border: none;
}